game2D/Projecte/Hell-Crusader/.vs/
game2D/Projecte/Hell-Crusader/Hell-Crusader/Release/
game2D/Projecte/Hell-Crusader/Release/Hell-Crusader.exe
game2D/Projecte/Hell-Crusader/Release/Hell-Crusader.pdb
game3D/Runner/Library/*
game3D/Runner/Temp/*
game3D/Runner/Builds/*
game3D/Runner/Logs/*
game3D/Runner/.vs/
game3D/Runner/UserSettings/Layouts/default-2021.dwlt
